#include <winnt.h>	// for LANG_XXX codes
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1   ICON    DISCARDABLE     "q2.ico"
/////////////////////////////////////////////////////////////////////////////
